<div class="col-md-6 col-md-offset-3">
  <p>
    <strong>Order no:</strong>
    <%= @order.order_no %>
  </p>

  <p>
    <strong>Tracking no:</strong>
    <%= @order.tracking_no %>
  </p>

  <p>
    <strong>Purchase total:</strong>
    <%= @order.purchase_total %>
  </p>

  <p>
    <strong>Order type:</strong>
    <%= @order.order_type %>
  </p>

  <p>
    <strong>Order Created:</strong>
    <%= @order.created_at %>
  </p>

  <p>
    <strong>City:</strong>
    <%= order=(Order.find_by(params[@order.user_id]).addresses.first.city)%>
  </p>

  <p>
   <% @sum=0 %>
        <% @order.order_products.each do |order| %>
          <p>
            <strong>Product Name:</strong>
            <%= order.product.name %>
          </p>

          <p>
            <strong>Product Price:</strong>
            <%= order.product.price %>
          </p>

          <p>
            <strong>Product Quantity:</strong>
            <%= order.quantity %>
          </p>

          <p>
            <strong>Total:</strong>
            <%= @sum += (order.product.price * order.quantity) %>
          </p>

        <% end %>
    </p>

  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Back', orders_path %>
</div>
